/* html,
body {
  border: 1.5px solid black;
} */

* {
  /* border: 1px dashed brown */
}


/* Breadcrumb */
.bread {
  background-color: transparent;
}

/* trails card > left-card > puctures */
.img_cover_one {
  width: 100%;
  object-fit: cover;
}

.img_cover_three {
  width: 32%;
  object-fit: fill;
}


/* category button group */
.ca_btn {
  background-color: rgb(108, 186, 124, 0.4);
}

.ca_h6 {
  color: #033A13;
}

/* category content group */
.ca_content {
  height: 70px;
  background: rgba(206, 232, 203, 0.5);
  border-radius: 10px;
}

.ca_border{
  border-right:2px solid var(--mtgreen-3)
}

.paragraph_i {
  text-indent: 2rem;
}

.img_contain {
  width: 100%;
  object-fit: contain;
}

/* shop-button-group */
.shop-btn {
  border: solid 2px var(--mtgreen-1);
  border-radius: 5px;
}

.batch {
  color: var(--mtgrey-4);
  background-color: var(--mtgreen-1);
}

.level3 {
  color: var(--mtgrey-4);
  background-color: var(--mtgreen-1);
}


.Vector_long {
  width: 100%;
}

/* commont card: left-card  */

.left_card{
  height: 7%;
}

.rate_point{
  background-color: var(--mtgreen-1);
  flex-grow: 1;
  text-align: center;
  color: #FFFFF2;
}

.point_h1{
  padding-top: 5px;
  align-self: center;
  font-weight: 700;
  font-size: 30px;
}

/* commont card: right-card * n */

.card-b-b {
  border-bottom: 1px solid var(--mtgrey-3);
}

/* commont card: right-card > level3 > imges */
.img_cover {
  width: 33.3%;
  object-fit: cover;
}

.more_img {
  width: 100%;
  object-fit: fill;
}

.img_wrap {
  width: 100%;
  background: linear-gradient(0deg, rgba(1, 19, 6, 0.5), rgba(1, 19, 6, 0.5));
}

.member_ca{
  background-color: var(--mtyellow-1);
  color: var(--mtyellow-4);
  border-radius: 18px;
  padding: 1px 7px;
  font-weight: 700;
}