/* ALL */
html,
body {
  background-color: #FFFFF2;
}

* {
  /* border: 1px dashed brown; */
}

h1 {
  color: var(--mtgreen-3)
}

.box1 {
  background-color: var(--mtgreen-2);
  width: 100px;
  height: 100px;
}

/* 
.btn {
  border: none;
  background-color: none;
} */

/* main */

.main_all {
  /* border: 1px solid black; */
  margin: 60px 100px;
}

/* main left-card */
.left-card {
  /* border: 1px solid black; */
  width: 373px;
  height: 16.5%;
  margin-right: 45px;
  background: var(--mtyellow-4);
  box-shadow: 0px 2px 25px 4px rgba(1, 19, 6, 0.1);
  border-radius: 10px;
}

.left-card .card .card-body{
  padding: 36px;
}

main .right-card {
  /* border: 1px solid black; */
  width: 1000px;
  margin: 0;
}

.left-card .search{
  padding-bottom: 12px;
}

.search_count{
  padding-bottom: 36px;  
}


.h5-sub-title {
  color: var(--mtgreen-1);
  font-weight: 700;
}

/* input-with-icon */

.input-with-icon {
  border: 2px solid var(--mtgreen-3);
  /* background: rgba(206, 232, 203, 0.6); */
}

/* input:focus {

} */

.icon_span {
  display: flex;
  align-items: center;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background: rgba(206, 232, 203, 0.6);
}

.input_style {
  border: none;
  background: rgba(206, 232, 203, 0.6);
  height: 2.5rem;
  outline: none;
}

.input-i {
  background: rgba(206, 232, 203, 0.6);
}

.p-content {
  color: var(--mtgrey-3)
}

.btn-search {
  color: var(--mtgrey-4);
  background-color: var(--mtgreen-1);
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  font-weight: 700;
}

/* input-with-icon date */
/* ::-webkit-calendar-picker-indicator{
  
} */


/* main right-card */


.right-card .sub_title {
  /* border: 1px solid black; */
  margin-bottom: 5%;
}

.right-card .Vector_long{
  width: 378px;
}

.h5-sub-title-search {
  white-space: nowrap;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 7px;
  align-items: center;
  text-align: center;
}


/* right-card > trails-cards */

.card_shadow {
  box-shadow: 0px 2px 25px 4px rgba(1, 19, 6, 0.1);
}

.product-name {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 22px;
  line-height: 150%;
}

.heart_btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

/* 隱藏三行以上段落文字 */
.overflow_p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p_line_clamp {
  -webkit-line-clamp: 3;
}

.price_h3 {
  color: var(--mtgreen-1)
}


.trails_img {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.page_bar {
  background-color: transparent;
}

/* pagination */

.page-bar nav {
  background-color: transparent;
}

.page-item {
  margin: 4px;
}

.pagination .page-link {
  color: var(--mtgreen-1);
  border-radius: 5px;
  border: 1px solid var(--mtgreen-4);
}

/* .pagination .page-link:active{
  color: var(--mtgreen-1);
} */