/* ALL */
html,
body {
  font-family: 'Noto Sans TC';
}

h1 {
  color: var(--mtgreen-3)
}

.box1 {
  background-color: var(--mtgreen-2);
  width: 100px;
  height: 100px;

}

input {
  border: none;
}

/* main */
/* main left-card */
.h5-sub-title {
  color: var(--mtgreen-1);
  font-weight: 700;
}

.left-card {
  box-shadow: 0px 2px 25px 4px rgba(1, 19, 6, 0.1);
}

.input-with-icon {
  border: 2px solid var(--mtgreen-3);
  background-color: #CEE8CB99;
}

.input-i {
  background-color: #CEE8CB99;
}

.p-content {
  color: var(--mtgrey-3)
}

.btn-search {
  color: var(--mtgrey-4);
  background-color: var(--mtgreen-1);
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  font-weight: 700;
}


/* main right-card */

.h5-sub-title-search {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 7px;
  align-items: center;
  text-align: center;
}


.product-name {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 22px;
  line-height: 150%;
}