html,
body {
  padding: 0;
  margin: 0;
  width: 100%;

  background-color: var(--mtyellow-4);

  box-sizing: border-box;
}
* {
  /* border: 1px solid red; */
}
section {
  height: fit-content;
}
/* top-bar -------------------------------------------- */
#product_top_bar {
  width: 100%;
  height: 850px;

  /* background-image: url(./../../images/products_top_bar.jpg); */
  /* background-image: url(../../../public/images/yichun/); */
  background-image: url(./../../../public/images/yichun/products_top_bar.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: 45%;
}
/* top-bar -------------------------------------------- */

/* products -------------------------------------------- */
section.products {
  width: 100%;
  height: fit-content;
  padding: 40px 120px;
  padding-top: 120px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}
section.products .products_title {
  width: 100%;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.products .products_title img {
  width: 580px;
  flex-shrink: 1;
}
section.products .products_title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.1em;

  color: var(--mtgrey-1);
  flex-shrink: 0;
}
.filter_buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;
  width: 100%;
}
.filter_buttons button {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 2px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  /* text-decoration: none; */

  color: var(--mtyellow-4);
  background: var(--mtgreen-1);
  border-radius: 5px;
  border: none;
}
.filter_buttons button.disable {
  color: var(--mtgreen-1);
  background: var(--mtyellow-4);
  border: 2px solid var(--mtgreen-1);
}
.row-of-products {
  width: 100%;

  display: flex;
  gap: 20px;
}
.row-of-products a {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;

  cursor: pointer;
  position: relative;
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;

  cursor: pointer;
  position: relative;
}
.pic {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(./../../images/product-img/0-01.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition-property: background-size;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
.pic_kexin {
  height: 220px;
}
.pic::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
}
.pic:focus::before,
.pic:hover::before {
  transform: scale(1.05);
}
.pic_shadow {
  box-shadow: 0px -2px 12px rgba(27, 39, 39, 0.2);
}
.product .ranking {
  z-index: 50;

  position: absolute;
  top: -20px;
  right: 10px;
  width: 50px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #ffffff;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  text-align: center;

  background-image: url(./../../icons/bookmark.svg);
  background-size: cover;
  background-position: center;
}
.rates {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--mtyellow-4);
  z-index: 10;
}
.rates p {
  padding: 0;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information h4,
.information p {
  margin: 0;
  padding: 0;
}
.info h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  margin-bottom: 2px;

  color: var(--mtgrey-1);
}
.info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: var(--mtgrey-2);
}
.price {
  text-align: end;
}
.price p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: var(--mtgrey-1);
}
.price h4 {
  font-weight: 900;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: var(--mtgreen-1);
}
/* products -------------------------------------------- */

/* products theme -------------------------------------------- */
section.theme {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;

  width: 100%;
  height: fit-content;

  /* display: none; */

  /* border: 2px solid blue; */
}
section.theme .theme_intro {
  width: 100%;
  height: 800px;
  padding-bottom: 72px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  color: var(--mtyellow-4);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  background: linear-gradient(180deg, rgba(1, 19, 6, 0) 55.54%, #011306 90.54%),
    url(./../../images/product-page-img/theme.jpg);
  background-size: cover;
  background-position: center;
}
section.theme .theme_intro h2 {
  font-weight: 900;
  font-size: 43px;
  line-height: 140%;
  letter-spacing: 0.05em;
}
section.theme .theme_intro p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}
section.theme .row-of-products {
  padding: 0px 120px;
  margin-top: -40px;
  width: 100%;

  position: relative;
}
section.theme .row-of-products button {
  border: 0px;
  background-color: transparent;
  position: absolute;

  top: 50%;
}
section.theme .row-of-products button:first-child {
  left: 0;
  transform: translate(140%, -50%);
}
section.theme .row-of-products button:last-child {
  right: 0;
  transform: translate(-140%, -50%);
}
/* products theme -------------------------------------------- */

/* difficulty -------------------------------------------- */
section.difficulty {
  padding: 70px 120px 120px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
section.difficulty .diff_intro_list {
  width: 33%;
  display: flex;
  flex-direction: column;
}
section.difficulty .diff_intro_list .rank {
  display: flex;
  gap: 8px;
}
section.difficulty .diff_intro_list .rank .img_wrapper {
  width: 230px;
  height: 260px;
  /* border: 1px solid red; */
  border-radius: 0 0 125px 125px;
  margin-bottom: 30px;
  position: relative;

  overflow: hidden;
  cursor: pointer;
}
section.difficulty .diff_intro_list .rank .img_wrapper .circle {
  position: absolute;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--mtgreen-5);
  z-index: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
section.difficulty .diff_intro_list .rank .img_wrapper:hover .circle {
  background-color: var(--mtgreen-4);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
section.difficulty .diff_intro_list .rank .img_wrapper .circle.on {
  background-color: var(--mtgreen-4);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
section.difficulty .diff_intro_list .rank .img_wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  /* width: 90%; */
  object-fit: contain;
  object-position: center 80px;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform-origin: center bottom;
}
section.difficulty .diff_intro_list .rank:last-of-type .img_wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  /* width: 90%; */
  object-fit: contain;
  object-position: -15px 80px;

  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform-origin: center bottom;
}
section.difficulty .diff_intro_list .rank .img_wrapper img.on {
  transform: scale(1.35);
}

section.difficulty .diff_intro_list .diff_intro {
  width: 354px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.difficulty .diff_intro_list .diff_intro h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;

  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtgrey-1);
}
section.difficulty .diff_intro_list .diff_intro p {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtgreen-1);
}
section.difficulty .diff_intro_list .diff_intro button {
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;

  padding: 8px 24px;
  border-radius: 5px;

  color: var(--mtyellow-4);
  background-color: var(--mtgreen-1);
}
section.difficulty .diff_recommend {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  gap: 40px;
  /* flex-grow: 1; */
}
section.difficulty .diff_recommend .select_diff {
  /* flex-shrink: 1; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
section.difficulty .diff_recommend .select_diff svg {
  position: absolute;
  transition-duration: 1s;
}
section.difficulty .diff_recommend .select_diff svg.easy {
  bottom: 4%;
  left: 14%;
}
section.difficulty .diff_recommend .select_diff svg.medium {
  bottom: 26%;
  left: 43%;
}
section.difficulty .diff_recommend .select_diff svg.hard {
  bottom: 38%;
  right: 21%;
}
section.difficulty .diff_recommend .select_diff img {
  position: absolute;
  bottom: -20px;
}
section.difficulty .diff_recommend .select_diff img.easy {
  left: -8%;
}
section.difficulty .diff_recommend .select_diff img.medium {
  left: 13%;
}
section.difficulty .diff_recommend .select_diff img.hard {
  right: 0%;
}
section.difficulty .diff_recommend .diff_products {
  display: flex;
  gap: 20px;
}
section.difficulty .diff_recommend .diff_products a {
  width: 100%;
  flex-grow: 1;
}
/* difficulty -------------------------------------------- */

/* weather -------------------------------------------- */
section.weather {
  width: 100%;
  padding: 70px 120px;
}
.weather_box {
  margin-bottom: 60px;
  width: 100%;
  /* height: 130px; */
  display: flex;
  background-color: var(--mtyellow-4);
  filter: drop-shadow(0px 7px 20px rgba(28, 28, 30, 0.12));
  border-radius: 10px;
  overflow: hidden;
}
.weather_layout {
  display: flex;
  width: 100%;
}
.weather_box .weather_search {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--mtgreen-1);
  gap: 4px;
}
.weather_box .weather_search label {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: var(--mtyellow-4);
}
.weather_box .weather_search select {
  width: 160px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--mtyellow-4);
  background-color: transparent;
  outline: none;
  border: none;
}
.weather_box .weather_search select option {
  font-size: 18px;
  color: var(--mtgrey-2);
}
.weather_box .current_weather {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(206, 232, 203, 0.7);
  gap: 6px;
  position: relative;
}
.weather_box .current_weather h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--mtgrey-1);
}
.weather_box .current_weather .orbit {
  position: absolute;
}
.weather_box .current_weather svg {
  position: absolute;
  right: 50px;
  top: 32px;
  font-size: 56px;
  color: var(--mtgreen-1);
  animation: floating 4s ease-in-out infinite;
  transform-origin: center center;
}
@keyframes floating {
  0% {
    /* top: 40px; */
  }
  50% {
    /* top: 35px; */
    transform: scale(1.05);
  }
  100% {
    /* top: 40px; */
  }
}
.weather_box .current_weather .weather_describe {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-end;
  gap: 4px;
}
.weather_box .current_weather .weather_describe h6 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.08em;
  color: var(--mtgrey-2);
}
.weather_box .current_weather .weather_describe p {
  margin: 0;
  margin-left: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--mtgrey-2);
}
.weather_box .daily_weather {
  padding: 30px 40px;
  display: flex;
  background-color: var(--mtgrey-2);
  gap: 70px;
}
.weather_box .daily_weather .daily {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
.weather_box .daily_weather .daily:first-of-type p {
  color: var(--mtyellow-1);
}
.weather_box .daily_weather .daily:first-of-type h6 {
  color: var(--mtyellow-1);
}
.weather_box .daily_weather .daily:first-of-type svg {
  color: var(--mtyellow-1);
}
.weather_box .daily_weather p {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  color: var(--mtyellow-4);
}
.weather_box .daily_weather h6 {
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  color: var(--mtyellow-4);
  text-align: center;
  margin-bottom: 2px;
}
.weather_box .daily_weather svg {
  margin: 8px;
  font-size: 28px;
  color: var(--mtyellow-4);
}
.weather_box .daily_weather p:last-of-type {
  margin-top: 8px;
  text-align: center;
}
/* weather -------------------------------------------- */

/* test -------------------------------------------- */
section.test {
  width: 100%;
  height: 670px;
  margin-bottom: 200px;
  background-image: url(./../../images/product-page-img/test_bgi.png);
  /* background-image: url(./../../images/product-page-img/test_bgi.jpg); */
  background-size: cover;
  background-color: var(--mtyellow-4);
  position: relative;
}
section.test .test_info {
  position: absolute;
  width: 830px;
  padding: 45px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--mtyellow-4);
}
section.test .test_info h5 {
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtgrey-1);
}
section.test .test_info p {
  margin-bottom: 52px;
  font-weight: 350;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtgrey-1);
  opacity: 0.6;
}
section.test .test_info button {
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--mtyellow-4);
  background-color: var(--mtgreen-1);
}

@media screen and (max-width: 390px) {
  section {
    height: fit-content;
  }
  #product_top_bar {
    height: 450px;
    background-position-y: 20%;
    background-size: 150%;
    background-repeat: no-repeat;
  }
  /* search bar  */
  .search_bar {
    z-index: 500;
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    position: relative;
  }
  .search_bar .inputs_row {
    display: flex;
    justify-content: space-between;
  }
  .search_bar .mobile_input {
    display: flex;
    flex-direction: column;
  }
  .search_bar .mobile_input:first-child {
    width: 60%;
  }
  .search_bar .mobile_input:last-child {
    width: 36%;
  }
  .search_bar label {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: var(--mtgrey-3);
    margin-bottom: 2px;
  }
  .search_bar .input_icon {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .search_bar .inputs_row input {
    width: 100%;
    height: 40px;
    background: rgba(206, 232, 203, 0.6);
    border: 2px solid var(--mtgreen-2);
    border-radius: 10px;
    padding-left: 40px;
  }
  .search_bar .input_icon svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  .search_bar .input_field {
    width: 100%;
  }
  .search_bar .input_field .inputs {
    width: 100%;
  }
  .search_bar .input_field .inputs .calendarWrap {
    width: 100%;
  }
  .search_bar .input_field .inputs input {
    width: 100%;
  }
  .search_bar > a > button {
    width: 100%;
    border-radius: 10px;
  }
  .filter_buttons {
    gap: 12px;
  }
  .filter_buttons button {
    padding: 8px 12px;
    line-height: 120%;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .filter_buttons button.disable {
    border: 1px solid var(--mtgreen-1);
  }
  /* products -------------------------------------------- */
  section.products {
    padding: 40px 15px;
    gap: 16px;
  }
  section.products .products_title {
    justify-content: space-between;
    padding-bottom: 16px;
  }
  section.products .products_title img {
    display: none;
  }
  section.products .products_title h2 {
    font-weight: 700;
    font-size: 22px;
    /* line-height: 7px; */
    letter-spacing: 0.1em;
  }
  .row-of-products {
    flex-direction: column;
    gap: 16px;
  }
  .pic {
    height: 200px;
  }
  .info h4 {
    font-size: 16px;
  }
  .info p {
    font-size: 12px;
  }
  .price p {
    font-size: 12px;
  }
  .price h4 {
    font-size: 18px;
    font-weight: 900;
  }
  /* products theme -------------------------------------------- */
  section.theme {
    margin-top: 40px;
  }
  section.theme .theme_intro {
    height: 500px;
  }
  section.theme .theme_intro h2 {
    font-weight: 900;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.05em;
  }
  section.theme .theme_intro p {
    font-weight: 350;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
  section.theme .theme_intro button {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
  }
  section.theme .row-of-products {
    flex-direction: column;
    gap: 12px;
    padding: 0px 15px;
    margin-top: -20px;
  }
  /* difficulty -------------------------------------------- */
  section.difficulty {
    height: fit-content;
    padding: 0px 15px;

    width: 100%;
    flex-direction: column;
    display: none;
  }
  section.difficulty .diff_intro_list {
    flex-direction: row;
    gap: 10px;
  }
  section.difficulty .diff_intro_list .rank {
    flex-direction: column;
    align-items: center;
  }
  section.difficulty .diff_intro_list .diff_intro {
    width: 110px;
  }
  section.difficulty .diff_intro_list .diff_intro h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  section.difficulty .diff_intro_list .diff_intro p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
  section.difficulty .diff_intro_list .diff_intro button {
    display: none;
  }
  section.difficulty .diff_recommend .diff_products {
    flex-direction: column;
  }
  /* weather -------------------------------------------- */
  section.weather {
    padding: 40px 15px;
    display: none;
  }
  .weather_box {
    /* flex-direction: row; */
  }
  /* test -------------------------------------------- */
  section.test {
    margin-top: 40px;
    margin-bottom: 60px;
    height: 330px;
    background-image: url(./../../../public/images/yichun/test_bgi.jpg);
    padding: 36px;
  }
  section.test .test_info {
    width: calc(100% - 72px);
    height: calc(100% - 72px);
    padding: 30px;
    gap: 12px;
  }
  section.test .test_info h5 {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.1em;
  }
  section.test .test_info p {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 350;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    opacity: 0.8;
  }
  section.test .test_info button {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding: 4px 24px;
  }
}
