* {
  /* border: 2px solid red; */
  /* background-color: var(--mtyellow-4); */
}

/* navbar ----------------------- */
.search-input-unfold {
  display: none;
}
.search-input-unfold span {
  display: none;
}
html {
  width: 100%;
  margin: 0;
  padding: 0;
}
html body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--mtyellow-4);

  /* overflow-y: hidden; */

  /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

/* intro ----------------------- */
section.intro-page {
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: relative;

  overflow: hidden;
}
section.intro-page img {
  position: absolute;
}

/* web-clouds -------------------------------------------------------------------- */
section.intro-page img.clouds-web {
  /* border: 1px solid red; */
}
section.intro-page img.clouds-web:nth-of-type(1) {
  left: 108px;
  top: 4px;
  animation: clouds-web01 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web01 {
  from {
    left: 108px;
    top: 4px;
  }
  to {
    left: -263px;
    top: -54px;
  }
}
section.intro-page img.clouds-web:nth-of-type(2) {
  left: -357px;
  top: -209px;
  animation: clouds-web02 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web02 {
  from {
    left: -357px;
    top: -209px;
  }
  to {
    left: -233px;
    top: -179px;
  }
}
section.intro-page img.clouds-web:nth-of-type(3) {
  left: -356px;
  top: 45px;
  animation: clouds-web03 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web03 {
  from {
    left: -356px;
    top: 45px;
  }
  to {
    left: -625px;
    top: 45px;
  }
}
section.intro-page img.clouds-web:nth-of-type(4) {
  left: -432px;
  top: 345px;
  animation: clouds-web04 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web04 {
  from {
    left: -432px;
    top: 345px;
  }
  to {
    left: -468px;
    top: 308px;
  }
}
section.intro-page img.clouds-web:nth-of-type(5) {
  left: 140px;
  top: 429px;
  animation: clouds-web05 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web05 {
  from {
    left: 140px;
    top: 429px;
  }
  to {
    left: 27px;
    top: 594px;
  }
}
section.intro-page img.clouds-web:nth-of-type(6) {
  left: 458px;
  top: 250px;
  animation: clouds-web06 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web06 {
  from {
    left: 458px;
    top: 250px;
  }
  to {
    left: -58px;
    top: 191px;
  }
}
section.intro-page img.clouds-web:nth-of-type(7) {
  left: 211px;
  top: 331px;
  animation: clouds-web07 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web07 {
  from {
    left: 211px;
    top: 331px;
  }
  to {
    left: -267px;
    top: 428px;
  }
}
section.intro-page img.clouds-web:nth-of-type(8) {
  left: 660px;
  top: 215px;
  animation: clouds-web08 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web08 {
  from {
    left: 660px;
    top: 215px;
  }
  to {
    left: 1440px;
    top: 177px;
  }
}
section.intro-page img.clouds-web:nth-of-type(9) {
  left: 614px;
  top: -22px;
  animation: clouds-web09 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web09 {
  from {
    left: 614px;
    top: -22px;
  }
  to {
    left: 1220px;
    top: -22px;
  }
}
section.intro-page img.clouds-web:nth-of-type(10) {
  left: 175px;
  top: -225px;
  animation: clouds-web10 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web10 {
  from {
    left: 175px;
    top: -225px;
  }
  to {
    left: 211px;
    top: -215px;
  }
}
section.intro-page img.clouds-web:nth-of-type(11) {
  left: 568px;
  top: -141px;
  animation: clouds-web11 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web11 {
  from {
    left: 568px;
    top: -141px;
  }
  to {
    left: 674px;
    top: -223px;
  }
}
section.intro-page img.clouds-web:nth-of-type(12) {
  left: 887px;
  top: -227px;
  animation: clouds-web12 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web12 {
  from {
    left: 887px;
    top: -227px;
  }
  to {
    left: 1104px;
    top: -179px;
  }
}
section.intro-page img.clouds-web:nth-of-type(13) {
  left: 1028px;
  top: 59px;
  animation: clouds-web13 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web13 {
  from {
    left: 1028px;
    top: 59px;
  }
  to {
    left: 1559px;
    top: 59px;
  }
}
section.intro-page img.clouds-web:nth-of-type(14) {
  left: 1225px;
  top: -241px;
  animation: clouds-web14 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web14 {
  from {
    left: 1225px;
    top: -241px;
  }
  to {
    left: 1334px;
    top: -155px;
  }
}
section.intro-page img.clouds-web:nth-of-type(15) {
  left: 730px;
  top: 388px;
  animation: clouds-web15 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web15 {
  from {
    left: 730px;
    top: 388px;
  }
  to {
    left: 1104px;
    top: 608px;
  }
}
section.intro-page img.clouds-web:nth-of-type(16) {
  left: 1043px;
  top: 325px;
  animation: clouds-web16 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web16 {
  from {
    left: 1043px;
    top: 325px;
  }
  to {
    left: 1445px;
    top: 325px;
  }
}
section.intro-page img.clouds-web:nth-of-type(17) {
  left: 1358px;
  top: 187px;
  transform: scale(1.4);
  animation: clouds-web17 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web17 {
  from {
    left: 1358px;
    top: 187px;

    transform: scale(1.4);
  }
  to {
    left: 1655px;
    top: 187px;
    transform: scale(1);
  }
}
section.intro-page img.clouds-web:nth-of-type(18) {
  left: 1252px;
  top: 409px;
  animation: clouds-web18 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web18 {
  from {
    left: 1252px;
    top: 409px;
  }
  to {
    left: 1383px;
    top: 408px;
  }
}
section.intro-page img.clouds-web:nth-of-type(19) {
  left: 923px;
  top: 586px;
  animation: clouds-web19 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web19 {
  from {
    left: 923px;
    top: 586px;
  }
  to {
    left: 630px;
    top: 654px;
  }
}
section.intro-page img.clouds-web:nth-of-type(20) {
  left: -13px;
  top: 233px;
  animation: clouds-web20 3s ease-out 1.5s 1 forwards;
}
@keyframes clouds-web20 {
  from {
    left: -13px;
    top: 233px;
  }
  to {
    left: -292px;
    top: 233px;
  }
}
/* web-clouds -------------------------------------------------------------------- */

/* mobile-clouds -------------------------------------------------------------------- */
section.intro-page .clouds-mobile {
  display: none;
}

/* mountains -------------------------------------------------------------------- */
section.intro-page img.g2 {
  left: -1%;
  bottom: 6%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.intro-page img.y2 {
  left: 1%;
  bottom: 7%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.intro-page img.g1 {
  left: 0.0006%;
  bottom: 0.1%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.intro-page img.y1 {
  left: 0%;
  bottom: -0.3%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
/* mountains -------------------------------------------------------------------- */

button.start_test {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: var(--mtyellow-4);
  background-clip: padding-box;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(1, 19, 6, 0.15);

  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--mtgreen-1);
  letter-spacing: 0.1em;
  animation: button-up 3s cubic-bezier(0.5, 0, 0.4, 1.3) 1s forwards,
    button-float 3s ease-in-out infinite alternate;
  pointer-events: auto;
  cursor: pointer;
}
@keyframes button-up {
  from {
    top: 100%;
  }
  to {
    top: 86%;
  }
}
@keyframes button-float {
  from {
    top: 86%;
  }
  to {
    top: 84%;
  }
}
section.intro-text {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.intro-text .intro-title {
  width: 420px;
  height: 85px;
  font-weight: 900;
  font-size: 44px;
  line-height: 85px;
  letter-spacing: 0.1em;
  text-align: center;

  color: var(--mtyellow-4);

  background-image: url('./../../images/test/title-tag.svg');
}
section.intro-text h3 {
  margin-top: 28px;
  margin-bottom: 0;
  width: fit-content;

  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.1em;

  color: var(--mtgreen-1);
}
section.intro-text p {
  margin-top: 24px;
  margin-bottom: 60px;
  width: 830px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.1em;

  color: var(--mtgrey-2);
}

/* questions ----------------------- */
section.questions {
  /*
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  */

  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;

  transition-duration: 10s;
}
section.questions.display {
  display: none;
}
section.questions img:first-child {
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;

  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
section.questions .num {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50px;
  top: 50px;
  border-radius: 50%;

  font-size: 70px;
  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;
}
section.questions .ques-box {
  position: absolute;

  width: 1000px;
  height: 200px;
  top: 250px;
  left: 50%;
  border-radius: 100px;

  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.1em;
}
section.questions .ques-box-mobile {
  display: none;
}
section.questions img:last-of-type {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  object-fit: cover;
}
section.questions .cards {
  position: absolute;
  top: 58%;
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 70px;
}
section.questions .cards .ans:first-child {
  transform: rotate(-8deg);
}
section.questions .cards .ans:nth-child(2) {
  margin-bottom: 40px;
}
section.questions .cards .ans:last-child {
  transform: rotate(8deg);
}
section.questions .ans {
  /* position: absolute; */
  width: 400px;
  height: 260px;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 97px 92px; */

  background: var(--mtyellow-4);
  box-shadow: 0px 4px 10px 1px rgba(1, 19, 6, 0.2);
  border-radius: 10px;
  border: 8px solid var(--mtyellow-4);

  transform-style: preserve-3d;
  transition-duration: 0.5s;
  cursor: pointer;
}
section.questions .ans.hover:first-child {
  box-shadow: 0px 4px 40px 1px rgba(1, 19, 6, 0.2);
}
section.questions .ans.hover {
  box-shadow: 0px 4px 40px 1px rgba(1, 19, 6, 0.2);
}
section.questions .ans.hover:last-child {
  box-shadow: 0px 4px 40px 1px rgba(1, 19, 6, 0.2);
}
section.questions .ans .front_side {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.1em;
  color: var(--mtgrey-2);

  backface-visibility: hidden;
}
section.questions .ans .back_side {
  padding: 30px 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  backface-visibility: hidden;
  transform: rotateY(180deg);
  cursor: auto;
}
section.questions .ans .back_side .correct {
  font-size: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
section.questions .ans .back_side .correct h5 {
  font-size: 32px;
  padding-top: 4px;

  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--mtgrey-1);
}
section.questions .ans .back_side p {
  text-align: center;
  font-size: 16px;
  color: var(--mtgrey-2);
  letter-spacing: 0.1em;
}
section.questions .ques-box {
  color: var(--mtgreen-1);
  background-color: var(--mtyellow-4);
}
section.questions button.next {
  /* display: none; */
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);

  visibility: hidden;
  pointer-events: none;

  /* width: 80px; */

  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 12px 40px;
  border-radius: 50px;
  border: none;

  transition-duration: 0.8s;
  opacity: 0;
}

section.ques-odd {
  width: 100%;
  height: 100vh;
  background-color: var(--mtgreen-1);
  background-image: url('./../../images/test/bg-text/yellow.svg');
}
section.ques-odd .num {
  color: var(--mtgreen-1);
  background-color: var(--mtyellow-4);
}
section.ques-odd button.next {
  color: var(--mtyellow-4);
  background-color: var(--mtgreen-1);
}
section.ques-even {
  width: 100%;
  height: 100vh;
  background-color: var(--mtyellow-4);
  background-image: url('./../../images/test/bg-text/green.svg');
}
section.ques-even .num {
  color: var(--mtyellow-4);
  background-color: var(--mtgreen-1);
}
section.ques-even button.next {
  color: var(--mtgreen-1);
  background-color: var(--mtyellow-4);
}

/* price ----------------------- */
section.price img:first-of-type {
  /* display: none; */
}
section.price {
  /*
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  👾👾👾👾👾👾👾👾👾👾👾👾👾👾👾
  */
  position: relative;
  width: 100%;
  height: 100vh;

  background-color: var(--mtyellow-4);
  overflow: hidden;
}
section.price.display {
  display: none;
}
section.price .price-text {
  position: absolute;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;

  background-color: var(--mtgreen-1);
  border-radius: 16px 16px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.price .price-text h1 {
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 72px;
  line-height: 98px;
  text-align: center;

  color: var(--mtyellow-4);
}
section.price .price-text h3 {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtyellow-4);
}
section.price .price-text h3 span {
  font-weight: 900;
  /* font-size: 56px; */
}
section.price .price-text p {
  margin-bottom: 64px;

  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtyellow-4);
}
section.price .price-text p a {
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtyellow-4);
}
section.price .price-text .buttons {
  margin-bottom: 200px;
  display: flex;
  gap: 36px;
}
section.price .price-text .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  background: var(--mtyellow-1);
  border-radius: 5px;
  border: none;

  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.1em;

  color: var(--mtyellow-4);
}
section.price img {
  position: absolute;
  z-index: 10;
}
section.price img.g2 {
  left: -1%;
  bottom: 6%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.price img.y2 {
  left: 1%;
  bottom: 7%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.price img.g1 {
  left: 0.0006%;
  bottom: 0.1%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.price img.y1 {
  left: 0%;
  bottom: -0.3%;
  transform: scale(1.1);

  transition-duration: 1.5s ease;

  pointer-events: none;
}
section.price svg.test_svg_web {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  user-select: none;

  pointer-events: none;
}
section.price svg.test_svg_web path {
  position: absolute;

  width: 100%;
  height: 100%;
  fill: none;

  left: 0;
  right: 0;
}
section.price svg.test_svg_web text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 100;
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 0.1em;
  fill: none;
  stroke: var(--mtgreen-1);
  text-anchor: middle;

  user-select: none;
}
section.price svg.test_svg_mobile {
  display: none;
}

/* 
 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱
 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱
 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱
 📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱📱 
 */
@media screen and (max-width: 390px) {
  /* nav {
    z-index: -10;
    position: relative;
  } */
  /* clouds */
  section.intro-page {
    width: 390px;
    overflow: hidden;
  }

  /* mobile-clouds -------------------------------------------------------------------- */
  section.intro-page .clouds-web {
    display: none;
  }
  section.intro-page .clouds-mobile {
    display: block;
  }
  section.intro-page img:nth-child(21) {
    left: -106px;
    top: -71px;
    animation: clouds-mobile01 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile01 {
    from {
      left: -106px;
      top: -71px;
    }
    to {
      left: -146px;
      top: -100px;
    }
  }
  section.intro-page img:nth-child(22) {
    left: 28px;
    top: -135.34px;
    animation: clouds-mobile02 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile02 {
    from {
      left: 28px;
      top: -135.34px;
    }
    to {
      left: 78px;
      top: -155.34px;
    }
  }
  section.intro-page img:nth-child(23) {
    left: 28px;
    top: -16.46px;
    animation: clouds-mobile03 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile03 {
    from {
      left: 28px;
      top: -16.46px;
    }
    to {
      left: 328px;
      top: -6px;
    }
  }
  section.intro-page img:nth-child(24) {
    left: -246px;
    top: 38px;
    animation: clouds-mobile04 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile04 {
    from {
      left: -246px;
      top: 38px;
    }
    to {
      left: -528px;
      top: -82px;
    }
  }
  section.intro-page img:nth-child(25) {
    left: -137px;
    top: 291px;
    animation: clouds-mobile05 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile05 {
    from {
      left: -137px;
      top: 291px;
    }
    to {
      left: -337px;
      top: 161px;
    }
  }
  section.intro-page img:nth-child(26) {
    left: -87px;
    top: 380px;
    animation: clouds-mobile06 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile06 {
    from {
      left: -87px;
      top: 380px;
    }
    to {
      left: -437px;
      top: 300px;
    }
  }
  section.intro-page img:nth-child(27) {
    left: -113px;
    top: 521px;
    animation: clouds-mobile07 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile07 {
    from {
      left: -113px;
      top: 521px;
    }
    to {
      left: -184px;
      top: 510px;
    }
  }
  section.intro-page img:nth-child(28) {
    left: 146px;
    top: 110px;
    animation: clouds-mobile08 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile08 {
    from {
      left: 146px;
      top: 110px;
    }
    to {
      left: 386px;
      top: 80px;
    }
  }
  section.intro-page img:nth-child(29) {
    left: -11px;
    top: 211px;
    animation: clouds-mobile09 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile09 {
    from {
      left: -11px;
      top: 211px;
    }
    to {
      left: 355px;
      top: 191px;
    }
  }
  section.intro-page img:nth-child(30) {
    left: 144px;
    top: 412.75px;
    animation: clouds-mobile10 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile10 {
    from {
      left: 144px;
      top: 412.75px;
    }
    to {
      left: 347px;
      top: 415.75px;
    }
  }
  section.intro-page img:nth-child(31) {
    left: 104px;
    top: 540px;

    animation: clouds-mobile11 2s ease-out 1.5s 1 forwards;
  }
  @keyframes clouds-mobile11 {
    from {
      left: 104px;
      top: 540px;
    }
    to {
      left: 135px;
      top: 540px;
    }
  }
  /* mobile-clouds -------------------------------------------------------------------- */

  /* mountains -------------------------------- */
  section.intro-page img.g2 {
    left: -160%;
    bottom: -2%;
    /* transform-origin: center; */
    transform: scale(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.intro-page img.y2 {
    left: -220%;
    bottom: -2%;
    transform: scaleX(0.5) scaleY(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.intro-page img.g1 {
    left: -255%;
    bottom: -8%;
    transform: scaleX(0.5) scaleY(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.intro-page img.y1 {
    left: -170%;
    bottom: -9%;
    transform: scaleX(0.5) scaleY(0.4);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }

  button.start_test {
    width: 100px;
    height: 100px;
    top: 100%;
    font-size: 20px;
    line-height: 24px;
    border: none;
    box-shadow: 0px 0px 30px rgba(1, 19, 6, 0.15);
    animation: 
      button-up-mobile 3s cubic-bezier(0.5, 0, 0.4, 1.3) 1s forwards,
      button-float-mobile 2s ease-in-out infinite alternate;
    pointer-events: auto;
    cursor: pointer;
  }
  @keyframes button-up-mobile {
    from {
      top: 100%;
    }
    to {
      top: 93%;
    }
  }
  @keyframes button-float-mobile {
    from {
      top: 93%;
    }
    to {
      top: 91%;
    }
  }
  section.intro-text {
    padding-left: 40px;
    padding-right: 40px;
  }
  section.intro-text .intro-title {
    width: 245px;
    height: 50px;
    /* margin-bottom: 0; */
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.1em;

    color: var(--mtyellow-4);

    background-image: url('./../../images/test/title-tag-mobile.svg');
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.intro-text h3 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
  section.intro-text p {
    width: 100%;
    font-size: 14px;
    line-height: 26px;

    text-align: center;
  }

  /* questions ----------------------- */
  section.questions {
    width: 100%;
    height: 100vh;
  }
  section.questions img:first-child {
    width: calc(100% - 48px);
    height: 150px;
    margin-top: 60px;
    margin-left: 24px;
    margin-right: 24px;

    border-radius: 16px 16px 0px 0px;
    object-position: bottom;
  }
  section.questions .num {
    width: 60px;
    height: 60px;
    left: 15px;
    top: 40px;
    font-size: 44px;
  }
  section.questions .ques-box-web {
    display: none;
  }
  section.questions .ques-box-mobile {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    width: 342px;
    height: 100px;
    top: 180px;
    border-radius: 16px;

    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  section.questions .cards {
    top: 300px;

    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
  section.questions .cards .ans:first-child {
    transform: rotate(0deg);
  }
  section.questions .cards .ans:nth-child(2) {
    margin-bottom: 0px;
  }
  section.questions .cards .ans:last-child {
    transform: rotate(0deg);
  }
  section.questions .ans {
    width: 344px;
    height: 140px;
    /* font-size: 32px; */
    line-height: 44px;
  }
  section.questions .cards .ans .front_side {
    font-size: 28px;
  }
  section.questions .cards .ans .back_side {
    padding: 10px 16px;
    gap: 4px;
    justify-content: center;
  }
  section.questions .cards .ans .back_side .correct {
    font-size: 24px;
  }
  section.questions .cards .ans .back_side .correct h5 {
    font-size: 20px;
  }
  section.questions .cards .ans .back_side p {
    font-size: 12px;
    line-height: 140%;
  }
  section.questions button.next {
    top: 91%;
    /* bottom: 16px; */
    padding: 8px 40px;

    font-size: 20px;
  }

  /*
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);

  visibility: hidden;
  pointer-events: none;


  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 12px 40px;
  border-radius: 50px;
  border: none;

  transition-duration: 0.8s;
  opacity: 0;
  */

  section.ques-odd {
    background-image: url(./../../images/test/bg-text/y-bgi.svg);
  }
  section.ques-even {
    background-image: url(./../../images/test/bg-text/g-bgi.svg);
  }
  section.ques-even .ques-box-mobile {
    color: var(--mtyellow-4);
    background-color: var(--mtgreen-1);
  }

  /* price ----------------------- */
  section.price {
    height: 100vh;
  }
  section.price .mountains {
    position: absolute;
  }
  section.price img.g2 {
    left: -160%;
    bottom: -2%;
    /* transform-origin: center; */
    transform: scale(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.price img.y2 {
    left: -220%;
    bottom: -2%;
    transform: scaleX(0.5) scaleY(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.price img.g1 {
    left: -255%;
    bottom: -8%;
    transform: scaleX(0.5) scaleY(0.5);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.price img.y1 {
    left: -170%;
    bottom: -9%;
    transform: scaleX(0.5) scaleY(0.4);

    transition-duration: 1.5s ease;

    pointer-events: none;
  }
  section.price .price-text {
    width: calc(100% - 30px);
    height: 685px;
    margin-top: 160px;
    margin-left: 15px;
    justify-content: space-between;
  }
  section.price .price-text h1 {
    margin-top: 90px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 65px;
  }
  section.price .price-text h3 {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 160%;
  }
  section.price .price-text h3 span {
    font-size: 20px;
    line-height: 160%;
  }
  section.price .price-text p {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  section.price .price-text .buttons {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 210px;
  }
  section.price .price-text .buttons button {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding: 8px 24px;

    width: 100%;
  }
  section.price svg.test_svg_web {
    display: none;
  }
  section.price svg.test_svg_mobile {
    display: block;
  }
  section.price svg.test_svg_mobile path {
    position: absolute;

    width: 100%;
    height: 100%;
    fill: none;

    left: 0;
    right: 0;
  }
  section.price svg.test_svg_mobile text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 100;
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 0.1em;
    fill: none;
    stroke: var(--mtgreen-1);
    text-anchor: middle;

    user-select: none;
  }
}
