
.grid-container{
    display: grid;
    grid-template-columns: 248px 2fr ;
    grid-template-rows: 100%;
    gap:10px 75px;
    padding-top: 150px;
    padding-right: 240px;
    padding-left: 240px;
    background-color: var(--mtyellow-4);
    width: 100%;
    /* height: 100%; */
}
.sidebar{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 80px;
}
.profile{
    position: relative;
}
.profile-wrap{
    height: 248px;
    width: 248px;
    background-color: #faf;
    border-radius: 100%;
    overflow: hidden;
}
.pic-btn{
    content:"yes";
    width: 48px;
    height: 48px;
    border: 4px solid var(--mtyellow-4);
    border-radius: 100%;
    background-color: var(--mtgreen-3);
    position:absolute;
    bottom:0px;
    right:15px;
    /* z-index: 2; */
}


.profile-pic{
    width: 100%;
}
.camera{
    /* position: absolute; */
    transform: translateX(50%) translateY(38%);
}

/* 會員姓名帳號 */
.member-name{
    display: flex;
    margin-top: 36px;
    height: 38px;
    position: relative;
    text-align: center;
}
.member-name::after{
    content:'超級嚮導';
    color:white;
    font-size:18px;
    background-color: var(--mtyellow-1);
    border-radius: 18px;
    padding: .5px 10px .5px 10px;
    align-content: center;
    /* height: 100%; */
    position: absolute;
    top:4px;
    right:0px;
}
.member-name p{
    font-size: 24px;
    font-weight: 700;
}
.first-name{
    margin-right: 1rem;
}
.member-account{
    margin-top: 7px;
    font-size: 18px;
    color:var(--mtgrey-3);
}
.edit-btn{
    width: 100%;
    color:var(--mtgreen-1);
    background-color: var(--mtgreen-5);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.edit-btn:hover{
    box-shadow: 0 0 0 4px var(--mtgreen-4);
}
.btn-border{
    border: 1px solid var(--mtgreen-1);
    width: 100%;
    margin-top: 40px;
}
.sidebar-menu{
    margin-top: 40px;
    /* display: flex; */
    /* flex-direction: row; */   
}
.sidebar-menu li{
    margin-bottom: 18px;
    list-style: none;
}
.sidebar-menu a:hover{
    font-weight: 700;
}

.sidebar-menu a{
    text-decoration: none;
    color:var(--mtgrey-3);
    font-size: 20px;
    font-weight: 400;
}
.achievement-link a{
    color:var(--mtgreen-1)
}
.achievement-link path{
    stroke:var(--mtgreen-1)
}

.menu-icon{
    margin-right: 10px;
    transform: translateY(-10%);
}


/* 右邊的會元資料 */
.member-data{
    /* border: 1px solid blueviolet; */
    width: 100%;
}
.member-data h1{
    color:var(--mtgreen-1);
    margin-left: 15px;
    font-weight: 700;
}
.title{
    display: flex;
}
.title svg{
    transform: translateY(25%) scale(1.2);
}
.container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 62px;
}
.badge{
    display: flex;
    justify-content: center;
    transform: translateX(-5%);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.badge-pic-1{
    width: 375px;
    height: 220px;
    background: url('../../public/Mountrip_achievement_mei.png');
    background-position: center center;
    background-size: cover;
}
.badge-pic-2{
    width: 375px;
    height: 220px;
    background: url('../../public/Mountrip_achievement_bamboo.png');
    background-position: center center;
    background-size: cover;
    z-index: 30;
}
.badge-pic-3{
    width: 375px;
    height: 220px;
    background: url('../../public/Mountrip_achievement_pine.png');
    background-position: center center;
    background-size: cover;
}
.levelText{
    /* display: none; */
    font-size: 200px;
    font-weight: 900;
    color: var(--mtgreen-5);
    z-index: 5;
    position: absolute;
    top:-60px;
    left:50%;
    /* right:0; */


}
.progress-bars{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.bar-wrap{
    width: 100%;

    position: relative;
    margin-right: 24px;
    
}
.bar-base{
    width: 100%;
    height: 30px;
    background-color: var(--mtgreen-5);
    border-radius: 33px ;
}
.bar-top{
    /* width: 33%; */
    height: 30px;
    background-color: var(--mtgreen-2);
    border-radius: 33px ;
    position: absolute;
    top:0px;
    z-index: 1;
}
.goal-number-wrap{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.current-num{
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
    color:var(--mtgreen-1)
}
.goal-num{
    font-size: 24px;
    font-weight: 500;
    color:var(--mtgrey-3)
}
.describ{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: var(--mtgreen-5);
    margin-bottom: 20px;
}
.describ-tag-wrap{
    display: flex;
    flex-direction: row;
    /* gap: ; */
}
.active{
    /* color: black ; */
    background-color: var(--mtgreen-7) !important;
}
.des-tag{
    width: 125px;
    height: 54px;
    text-align: center;
    padding-top: 15px;
    color:var(--mtgrey-2);
    /* vertical-align: baseline; */
}
/* 點擊的狀態 */
.des-tag.active{
    color: var(--mtgreen-1);
    font-weight: 700;
}

.describ h6{
    font-size: 20px;
    font-weight: 500;
    color:var(--mtgrey-2)
}
.describ-block{
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.describ-block p{
    font-size: 14px;
    font-weight: 500;
    color:var(--mtgrey-2)
}

.tag-border{
    width: 100%;
    border-top: 1px solid var(--mtgrey-4);
}
.quotes{
    text-align: center;
    margin-bottom: 20px;
}
.quotes h1{

}
.tree-block{
    width: 100%;
    /* height: 665px; */
    border-radius: 10px;
    background-color: var(--mtgreen-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.describ-rules{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}
.describ-rules h2{
    font-weight: 700;
    padding-bottom: 20px;
}
.describ-rules h3{
    font-weight: 700;
    padding-bottom: 10px;
}
.describ-rules p{
    /* text-overflow: ellipsis; */
    text-justify: distribute;
    font-size: 14px;
    letter-spacing: 10%;
    margin-top: 20px;
}
.history-tree{
    color:var(--mtgreen-1);
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}
.percent{
    color:var(--mtgreen-1);
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}
.percent2{
    color:var(--mtgreen-1);
    font-size: 32px;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
}
.percent3{
    color:var(--mtgreen-1);
    font-size: 40px;
    
    font-weight: 900;
    padding-left: 5px;
    padding-right: 10px;
}

.rules-border{
    width: 80%;
    border-top: 1px solid var(--mtgreen-1);
    margin-bottom: 20px;
}
.achievement-state{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    /* justify-content: center; */
}
.achievement-state p{
    color: var(--mtgrey-1);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    z-index:100;
}
.animate_btn_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.achievement-num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.tree-num{
    color:var(--mtgreen-1);
    font-size: 28px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

/* footer */
.footer{
    background-color: var(--mtgreen-1);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.footer-right{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5rem;
}
.footer-left{
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

.footer-ul{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}
.footer-link{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 1rem;
}
.link:hover{
    color: var(--mtyellow-1)
}
.footer-barbar{
    width: 0;
    height: 16px;
    border: .8px solid #FFFFFF;
    margin-right: 1rem;

}

/* w:390px RWD */
@media screen and (max-width:390px){
    section{
        width: 390px;
    }
    .grid-container{
        display: grid;
        width: 100%;
        grid-template-columns: 390px ;
        grid-template-rows: 1fr ;
        gap:40px;
        padding-top: 120px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: var(--mtyellow-4);
        /* width: 100%; */
        /* height: 100%; */
    }

    .footer{
        display: none;
    }
}



@media screen and (max-width:390px) {
    .sidebar-menu{
        display: none;
    }
    .edit-btn{
        display: none;
    }
    .btn-border{
        display: none;
    }
}
@media screen and (max-width:390px){
    .member-data{
        width: 360px;
    }
}


@media screen and (max-width:390px) {
    .title{
        display: flex;
       flex-direction: row;
       align-items: center;
       margin-bottom: 8px;
   }
   .title svg{
       transform: translateY(0%) scale(1);

   }
   .title h1{
       margin-bottom: 0;
   }
}

/* 使用者照片區 */
@media screen and (max-width:390px) {
    .sidebar{
        width: 360px;
        display: none;
    }
}

@media screen and (max-width:390px) {
    .container{
        padding: 0;
        margin-left: 0px;
    }
    .badge{
        width: 100%;
        height: 240px;
        margin-top: 24px;
        margin-bottom: 16px;
        margin-left: 20px;
        /* margin-right: auto; */
    }
    .badge-pic{
        width: 375px;
        height: 220px;
        /* background-position: center center; */
        background-size: cover;
    }
    .progress-bars{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 28px;
        gap:12px;
        /* position:relative */
    }
    .bar-wrap{
        /* position: absolute; */
        /* left: 0px; */
        margin-right: 0;
    }
    .bar-base{
        height: 16px;
        background-color: var(--mtgreen-5);
        border-radius: 33px ;
    }
    .bar-top{
        width: 46%;
        height: 16px;
        background-color: var(--mtgreen-2);
        border-radius: 33px ;
        position: absolute;
        top:0px;
        z-index: 1;
    }
    .goal-number-wrap{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .current-num{
        margin-right: 10px;
        font-size: 24px;
        font-weight: 700;
        color:var(--mtgreen-1)
    }
    .goal-num{
        font-size: 18px;
        font-weight: 500;
        color:var(--mtgrey-3)
    }
}

@media screen and (max-width:390px) {
    .describ{
        /* height: 150px; */
        /* padding: ; */
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width:390px) {
    .des-tag{
        width: 125px;
        height: 54px;
        text-align: center;
        padding-top: 15px;
        color:var(--mtgrey-2);
        /* vertical-align: baseline; */
    }
    /* 點擊的狀態 */
    .des-tag.active{
        color: var(--mtgreen-1);
        font-weight: 700;
    }
    
    .describ h6{
        font-size: 20px;
        font-weight: 500;
        color:var(--mtgrey-2)
    }
    .describ-block{
        /* height: 146px; */
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }
    .describ-block p{
        font-size: 12px;
        font-weight: 400;
        color:var(--mtgrey-2)
    }
    
    .tag-border{
        width: 100%;
        border-top: 1px solid var(--mtgrey-4);
    }
    .quotes{
        text-align: center;
        margin-bottom: 20px;
    }
    .quotes h1{
    
    }
    .tree-block{
        width: 100%;
        /* height: 665px; */
        border-radius: 10px;
        background-color: var(--mtgreen-5);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .describ-rules{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .describ-rules h2{
        font-weight: 700;
        padding-bottom: 20px;
        text-align: center;
    }
    .describ-rules h3{
        font-weight: 700;
        padding-bottom: 10px;
        text-align: center;

    }
    .describ-rules p{
        /* text-overflow: ellipsis; */
        text-justify: distribute;
        font-size: 14px;
        letter-spacing: 10%;
        margin-top: 20px;
    }
    .history-tree{
        color:var(--mtgreen-1);
        font-size: 20px;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;
    }
    .percent{
        color:var(--mtgreen-1);
        font-size: 20px;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;
    }
    .percent2{
        color:var(--mtgreen-1);
        font-size: 32px;
        font-weight: 900;
        padding-left: 5px;
        padding-right: 5px;
    }
    .percent3{
        color:var(--mtgreen-1);
        font-size: 40px;
        
        font-weight: 900;
        padding-left: 5px;
        padding-right: 10px;
    }
    
    .rules-border{
        width: 90%;
        border-top: 1px solid var(--mtgreen-1);
        margin-bottom: 20px;
    }
    .achievement-state{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        
        /* justify-content: center; */
    }
    .achievement-state p{
        color: var(--mtgrey-1);
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0px;
        text-align: center;
        z-index: 1000;

    }
    .achievement-num{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
    .tree-num{
        color:var(--mtgreen-1);
        font-size: 28px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* canvas 給3D數字用 */
.tree_animation{
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.tree_div{
    width: 100%;
    height: 350px;
    border-radius: 15px;
}
@media  screen and (max-width:390px) {
    .levelText{
        /* display: none; */
        font-size: 135px;
        font-weight: 900;
        color: var(--mtgreen-5);
        z-index: 5;
        position: absolute;
        top:-60px;
        left:50%;
        /* right:0; */
    
    
    }
}