button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 2px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  /* text-decoration: none; */

  color: var(--mtyellow-4);

  background: var(--mtgreen-1);
  border-radius: 5px;
  border: none;
}
button.btn_disable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 2px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  /* text-decoration: none; */

  color: var(--mtgreen-1);

  background: var(--mtyellow-4);
  border-radius: 5px;
  border: 2px solid var(--mtgreen-1);
}


