/* main */

.main_all {

  margin: 9% 6.25%;
}

.main_bg {
  background-color: var(--mtyellow-4);
}

/* main left_card */
.left_card {

  width: 373px;
  height: 16.5%;
  padding: 36px;
  margin-right: 52px;
  background: var(--mtyellow-4);
  box-shadow: 0px 2px 25px 4px rgba(1, 19, 6, 0.1);
  border-radius: 10px;
}


main .right_card {

  width: 1255px;
  margin: 0;
}

.left_card .search {
  width: 300px;
  padding-bottom: 12px;
}

.left_card .enddate {
  width: 300px;
  padding-bottom: 36px;
}

.search_count {
  width: 300px;
  padding-bottom: 36px;
}


.h5_sub_title {
  width: 300px;
  color: var(--mtgreen-1);
  font-weight: 700;
}

/* input_with_icon */

.left_card .input_with_icon {
  width: 300px;
  border: 2px solid var(--mtgreen-3);
  border-radius: 10px;
  background: rgba(206, 232, 203, 0.6);
  z-index: 1;
}

/* input:focus {

} */

.icon_span_one {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 13px;
  text-align: center;
}

.icon_span {
  display: flex;
  align-items: center;
  padding-left: 15px;
  text-align: center;
}

.icon_size {
  width: 16px;
}

/* .input_style {
  border: none;
  background: transparent;
  height: 33px;
  outline: none;
} */



.input_wrap .input_style {
  display: flex;
  text-align: center;
  width: 263px;
  border: none;
  background: transparent;
  height: 33px;
  outline: none;
  user-select: initial;
}

.input_wrap input::-webkit-calendar-picker-indicator {
  height: 100px;
}

.input_wrap .input_style_first {
  display: flex;
  /* text-align: center; */
  width: 250px;
  border: none;
  background: transparent;
  height: 33px;
  outline: none;
  user-select: initial;
}

.input-i {
  background: rgba(206, 232, 203, 0.6);
}

.p_content {
  color: var(--mtgrey-3)
}

.btn_search {
  width: 300px;
  color: var(--mtgrey-4);
  background-color: var(--mtgreen-1);
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  font-weight: 700;
}

/* input_with_icon date */
/* ::-webkit-calendar-picker-indicator{
  
} */


/* main right_card */


.right_card .sub_title {

  margin-bottom: 3%;
}

.right_card .vector_wrap {
  padding: 0%;
}

.right_card .Vector_long {
  /* width: 378px; */
}

.h5_sub_title_search {
  width: 378px;
  margin: 0px 35px;
  font-size: 28px;
  /* line-height: 7px; */
  font-weight: 700;
  letter-spacing: 0.1em;
  align-items: center;
  text-align: center;
  /* white-space:pre-wrap */
}


/* right_card > trails-cards */

/* FIXME: 卡片高度 */
.card_padding{
  padding: 28px;
}

.trails_card {
  box-shadow: 0px 2px 25px 4px rgba(1, 19, 6, 0.1);
  height: 277px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.trails_img_wrap {
  /* overflow: hidden */
}

.product_name {
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.05em;
  font-size: 22px;
  line-height: 150%;
}

 .link_style {
  color: var(--mtgrey-1);
  text-decoration: none;
  z-index: 0;
}

.link_style:hover {
  color: var(--mtgrey-1);
  z-index: 0;
}

.heart_btn {
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 1;
}

.heart_btn_position{
  width: 50px;
  padding-top: 35px

}

.collect_heart{
  background-color: rgb(255, 142, 13);
}

.not_collect{
  color:rgba(206, 232, 203, 0.6)
}

/* 隱藏三行以上段落文字 */
.overflow_p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p_line_clamp {
  -webkit-line-clamp: 3;
  text-align: justify;
  font-size: 18px;
  line-height: 155%;
  /* letter-spacing: 0.1em; */
  flex: none;
}

.geo_font{
  font-size: 18px;
}

.price_h3 {
  font-size: 28px;
  color: var(--mtgreen-1)
}


.trails_img {
  width: 400px;
  height: 277px;
  object-fit: fill;
}

.page_bar {
  background-color: transparent;
}


/* pagination */
.details_pagination .pagination_nav {
  position: relative;
  padding: 0px;
  z-index: 0;
}

.pagination_nav .li_margin {
  margin: 4px;
}

.pagination_nav .a_decoration {
  color: var(--mtgreen-1);
  border-radius: 5px;
  border: 1px solid var(--mtgreen-4);
}

/* mobile_phone */
@media (max-width: 391px) {
  .phone_container {
    display: flex;
    height: 130vh;
    padding-top: 100px;
  }

  .input_with_icon {
    border: 2px solid var(--mtgreen-3);
    border-radius: 10px;
    background: rgba(206, 232, 203, 0.6);
    z-index: 1;
  }


  .input_text_w {
    width: 300px;
  }

  .p_content {
    color: var(--mtgrey-3)
  }

  .icon_size {
    width: 16px;
  }

  .icon_span {
    display: flex;
    align-items: center;
    padding-left: 15px;
    text-align: center;
  }

  /* FIXME: */
  .input_style {
    width: 100%;
    border: none;
    background: transparent;
    height: 33px;
    outline: none;
    /* user-select: none; */
  }

  .input_wrap .input_style {
    width: 100%;
    border: none;
    background: transparent;
    height: 33px;
    outline: none;
    /* user-select: none; */
  }

  .row_2_mb {
    margin-bottom: 91px;
  }

  .phone_sub_title {
    /* display: flex; */
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 16px;
  }

  .vector_small {
    margin-bottom: 16px;
  }


  /* phone_card */
  .phone_card {
    position: relative;
    margin-bottom: 12px;
  }

  .text_re {
    position: relative;
  }

  .phone_card .img_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 19px;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }

  .img_text .rate {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--mtgreen-4);
  }

  .p_wrap {
    gap: 6px;
    padding: 0px;
  }

  .difficulty {
    width: 26px;
    height: 17px;
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--mtgreen-4);
  }

  .difficulty_en {
    width: 25px;
    height: 17px;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--mtgreen-4);
  }

  .trails_img_wrap {
    /* overflow: hidden */
  }

  .img_style {
    width: 100%;
    object-fit: cover;
    height: 198px;
    margin-bottom: 8px;
    border-radius: 10px;
  }


  .phone_h6_sub_t {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* margin-bottom: 5px; */
  }

  .phone_p_tag {
    color: var(--mtgrey-2);
    font-weight: 350;
    font-size: 12px;
    line-height: 17px;
  }

  .phone_p_ntd {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }

  .phone_h6_price {
    display: flex;
    justify-content: end;
    font-weight: 900;
    font-size: 18px;
    line-height: 130%;
    color: var(--mtgreen-1);
  }
}