
div.IanShoppingCartAll{
  margin: 0px 240px;
  padding-top: 5%;
}


div.shoppingSvgs{
  padding-top: 3%;
  position: relative;
}
div.shoppingNavbar{
  margin-right: 20px;
}
div.shoppingSvgs > a > svg.shoppingSvg1{
  position: absolute;
  left: 26%;
  z-index: 2;
}
div.shoppingSvgs > a > svg.shoppingSvg2{
  position: absolute;
  left: 41%;
  z-index: 2;
}
div.shoppingSvgs > a > svg.shoppingSvg3{
  position: absolute;
  left: 56%;
  z-index: 2;
}
div.shoppingSvgs > a > svg.shoppingSvg4{
  position: absolute;
  left: 71%;
  z-index: 2;
}
div.shoppingSvgs > svg.shoppingSvg5{
  position: absolute;
  bottom: -20px;
}
div.shoppingbottom{
  position: absolute;
  top: 100px;
}




div.mobile-none > input[type=check]:ckecked{
  color: #6cba7c;
}
.bg-image {
  background-color: var(--mtyellow-4);
padding: 0px;
}


.web-none {
  display: none;
  margin: 0;
}

.mobile-none {
  display: block;
}

section.shopping-cart-process{
  padding-bottom: 10%;
}

section.shopping-cart-process > a > svg{
  display: block;
  margin: 0 auto;
  height: 15vh;
}
section.shopping-cart-process > svg{
  display: block;
  margin: 0 auto;
  height: 15vh;
}


.shopping-cart-contain h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  align-items: center;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  color: var(--mtgreen-1);
}

section.shopping-cart-contain > div > div.shopping-cart-title > svg {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.shopping-cart-title {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--mtgrey-3);
}

/* .w1 {
  width: 5%;
} */

.w2 {
  width: 35%;
  margin-right: 2%;
}

.w3 {
  /* width: calc(50% / 4); */
  width: 10%;
  margin-right: 4%;
}

.w4 {
  /* width: calc(50% / 4); */
  width: 10%;
  margin-right: 4%;
}

.w5 {
  /* width: calc(50% / 4); */
  width: 10%;
  margin-right: 4%;
}

.w6 {
  /* width: calc(50% / 4); */
  width: 10%;
  margin-right: 4%;
}

.w7 {
  width: 5%;
}


.product-col-title {
  color: var(--mtgrey-3);
  margin-bottom: 40px;
}

.product-col {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}

.product-img-wrap {
  width: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 10px;
  /* border: 1px solid black; */
  /* overflow: hidden; */
}
.product-img-wrap > div.pic {
  width: 110px;
  height: 110px;
  background-size: cover;
  border-radius: 5px;
  /* flex-shrink: 0; */
}
.product-title {
  font-weight: 700;
  /* font-size: 20px; */
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--mtgrey-1);
}

.product-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--mtgrey-2);
}

.plus-button {
  background-color: transparent;
  border: none;
}

.minus-icon {
  width: 20px;
  height: 20px;
}

.product-date p {
  font-weight: 400;
  /* font-size: 20px; */
  line-height: 32px;
  letter-spacing: 0.05em;
}

.minus {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--mtgrey-3);
}

.product-number {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  /* color: var(--mtgrey-3); */
}

.add {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--mtgreen-1);
}

.orderCoupin {
  height: 50px;
}

.orderCoupin > select.orderSelect{
width: 90%;
background-color: var(--mtyellow-4);
border: 2px solid var(--mtgreen-1);
color: var(--mtgrey-3);
border-radius: 8px 0px 0px 8px;
padding-left: 10px;
font-weight: 350;
font-size: 20px;
line-height: 140%;
letter-spacing: 0.05em;
}


.orderCoupin > button.orderButton{
border-radius: 0px 8px 8px 0px;
color: white;
background-color: var(--mtgreen-1);
font-weight: 500;
font-size: 20px;
line-height: 140%;
letter-spacing: 0.1em;
}

section.shopping-cart-contain >  div > div.input-group > button.inputbtn {
  width: 20%;
  border-color: var(--mtgreen-1);
  background-color: var(--mtgreen-1);
  color: white;
  letter-spacing: 0.1em;
  border-radius: 0px 8px 8px 0px;
  margin: 0px;
}

.shopping-cart-All .p {
  font-size: 20px;
  letter-spacing: 0.1em;
  color: var(--mtgrey-1);
}

.shopping-cart-All .p-bold {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.padding-30 {
  padding-bottom: 30px;
}

.margin-30 {
  margin-bottom: 30px;
}

.coupon {
  border-bottom: 2px solid #6cba7c;
}

button.next {
  border-color: var(--mtgreen-1);
  background-color: var(--mtgreen-1);
  color: white;
  letter-spacing: 0.1em;
  border-radius: 5px;
}













@media screen and (max-width: 400px) {
  div.IanShoppingCartAll{
    margin: 0px;
    height: 145vh;
    padding-top:5% ;
  }

div.shoppingNavbar{
  margin: 0;
}

  div.shoppingSvgs{
    /* padding-top: 3%; */
    position: relative;
  }
  div.shoppingSvgs > a > svg.shoppingSvg1{
    position: absolute;
    left: 12%;
    z-index: 2;
  }
  div.shoppingSvgs > a > svg.shoppingSvg2{
    position: absolute;
    left: 34%;
    z-index: 2;
  }
  div.shoppingSvgs > a > svg.shoppingSvg3{
    position: absolute;
    left: 57%;
    z-index: 2;
  }
  div.shoppingSvgs > a > svg.shoppingSvg4{
    position: absolute;
    left: 80%;
    z-index: 2;
  }
  div.shoppingSvgs > svg.shoppingSvg5{
    position: absolute;
    bottom: -18px;
  }
  div.shoppingbottom{
    position: absolute;
    top: 14%;
  }
  .shopping-cart-process{
    padding-top: 15%;
    height: 27vh;
  }

  .shopping-cart-process.web-none > a > svg {
    height: 20vh;
  }
.cartProduct{
  width: 100%;
  margin: 0px;
}
.cartProductp{
  width: 100%;
}
.cartProduct_mobile_p{
width: 100%;
font-weight: 400;
font-size: 14px;
line-height: 32px;
letter-spacing: 0.05em;
margin: 0px;
}

  .web-none {
    display: block;
  }

  .mobile-none {
    display: none;
    margin: 0;
  }

  .shopping-cart-process.web-none p {
    font-weight: 350;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .shopping-cart-contain {
    padding: auto 15px;
  }

  .shopping-cart-contain h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: var(--mtgreen-1);
  }

  section.shopping-cart-contain > div > div.shopping-cart-title > svg {
    width: 24px;
    height: 28px;
    margin-right: 12px;
  }

  .shopping-cart-title {
    padding-bottom: 16px;
    margin-bottom: 24px;
  }

  .product-col-mobile {
    padding: auto 15px;
  }

  .product-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.05em;
  }

  .product-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.05em;
  }

.cancel {
  position: absolute;
  left: 90%;
  border: none;
  background-color: transparent;
  padding:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--mtgreen-1);
}


  .product-col-mobile {
    margin-bottom: 24px;
  }

  .product-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
  .priceBetween{
    width: 100%;
  }

  .single-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* text-align: end; */
    letter-spacing: 0.05em;
  }

.mobilePrice{
display: flex;
justify-content: end;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.05em;
width: 100%;
color: var(--mtgrey-1);
}
.mobileitemTotal{
width: 100%;
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.05em;
}

  .total-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* text-align: end; */
    letter-spacing: 0.05em;
  }

  .padding-30 {
    padding-bottom: 16px;
  }

  .margin-30 {
    margin-bottom: 16px;
  }
}



.mtgrey1 {
  color: var(--mtgrey-1);
}

.mtgrey2 {
  color: var(--mtgrey-2);
}

.mtgrey3 {
  color: var(--mtgrey-3);
}

.mtgreen1 {
  color: var(--mtgreen-1);
}

.mtgreen2 {
  color: var(--mtgreen-2);
}
.mtgreen4 {
  color: var(--mtgreen-4);
}

.mtyellow4 {
  color: var(--mtyellow-4);
}

.me-06 {
  margin-right: 6px;
}

.me-12 {
  margin-right: 12px;
}

.me-20 {
  margin-right: 20px;
}

.me-27 {
  margin-right: 25px;
}

.me-40 {
  margin-right: 40px;
}

.me-142 {
  margin-right: 155px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 48px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-88 {
  margin-bottom: 88px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-102 {
  margin-bottom: 102px;
}

.pd-40 {
  padding-bottom: 40px;
}

/* .pe-12 {
  padding-right: 12px;
} */
