/* Mountrip品牌色定義 */
:root{
    /* primary/green */
    --mtgreen-1:#6cba7c;
    --mtgreen-2:#8dc996;
    --mtgreen-3:#add9b1;
    --mtgreen-4:#cee8cb;

    /* secondary/yellow */
    --mtyellow-1: #F3c969;
    --mtyellow-2: #f7db97;
    --mtyellow-3: #FBEDC4;
    --mtyellow-4: #fffff2;

    /* neutral-color/ black/ grey */
    --mtgrey-1: #011306;
    --mtgrey-2: #4d5a51;
    --mtgrey-3: #9aa09b;
    --mtgrey-4: #e6E7E6;

    /* danger-color /red */
    --mtred-1:#E85F5c;
    --mtred-2: #ED7F7D;
    --mtred-3: #f6Bfbe;
    --mtred-4: #fadfde;

    /* 中文字型 */
    /* --mtfont-ch: 'Noto Sans TC', sans-serif; */

    /* ENG FONT */
    /* --mtfont-eng: 'Noto Sans', sans-serif; */
    
}

/* Define the font family for English characters */
@font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Black.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 900;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-ExtraBold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 800;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Bold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-SemiBold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 600;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Medium.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Regular.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Light.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 300;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-ExtraLight.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 200;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Thin.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
      U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
      U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
      U+FFFD;
    font-weight: 100;
  }
  
  /* Define the font family for Traditional Chinese characters */
  @font-face {
    font-family: 'Noto Sans TC';
    src: url('./../fonts/NotoSansTC-Black.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
      U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 900;
  }
  @font-face {
      font-family: 'Noto Sans TC';
      src: url('./../fonts/NotoSansTC-Bold.otf');
      unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
      font-weight: 700;
    }
    @font-face {
      font-family: 'Noto Sans TC';
      src: url('./../fonts/NotoSansTC-Medium.otf');
      unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
      font-weight: 500;
    }
    @font-face {
      font-family: 'Noto Sans TC';
      src: url('./../fonts/NotoSansTC-Regular.otf');
      unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
      font-weight: 400;
    }
    @font-face {
      font-family: 'Noto Sans TC';
      src: url('./../fonts/NotoSansTC-Light.otf');
      unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
      font-weight: 300;
    }
    @font-face {
      font-family: 'Noto Sans TC';
      src: url('./../fonts/NotoSansTC-Thin.otf');
      unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
      font-weight: 100;
    }
  
  * {
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
  }

/* global通用css屬性 */

:global(.section){
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--mtyellow-1);
}

/* merging test */