.dropdown-wrap {
  width: 100%;
  height: 1000px;
  position: fixed;
  left: 0;
  top: 70px;
  /* background: rgba(0, 0, 0, 0.25); */
  z-index: 2000;
}

.dropdown {
  position: fixed;
  right: 100px;
  top: 80px;
  z-index: 2000;
}

.dropdown div {
  display: block;
}

.dropdown svg {
  display: block;
}

.dropdown p {
  display: block;
}
.dropdown a {
  text-decoration: none;
}

.dropdown span {
  position: absolute;
  width: 30px;
  height: 10px;
  bottom: 100%;
  left: 82%;
  transform: translateX(-50%);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 10px solid var(--mtyellow-4);
  /* display: inline-block; */
  margin: 0 auto;
}

.dropdown .rect {
  padding: 20px;
  width: 200px;
  height: 350px;
  background: var(--mtyellow-4);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 0 auto;
}

.dropdown .bottom-line {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--mtgrey-4);
}

.dropdown .dropdown-p {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--mtgrey-2);
}

.dropdown .member-list {
  color: var(--mtgrey-2);
  font-size: 18px;
}

.dropdown .logout {
  border: none;
  background: none;
}

.dropdown .logout-pointer {
  /* cursor: 'pointer'; */
}



@media screen and (max-width: 391px) {
  .dropdown {
    display: none;
  }

  .dropdown div {
    display: none;
  }

  .dropdown svg {
    display: none;
  }

  .dropdown p {
    display: none;
  }
}
