.dropdown-mobile {
  display: none;
}

.dropdown-mobile div {
  display: none;
}

.dropdown-mobile svg {
  display: none;
}

.dropdown-mobile p {
  display: none;
}


@media screen and (max-width: 391px) {


  .dropdown-mobile-wrap {
    position: fixed;
    /* position: absolute; */
    width: 390px;
    /* height: 844px; */
    /* height: calc(100% - 100px); */
    height: 100vh;
    right: 0;
    top:0;
    background: rgba(0, 0, 0, 0.25);
    transition-duration: .5s;
    z-index: 2000;
  }

  .dropdown-mobile {
    position: fixed;
    width: 200px;
    height: 100%;
    /* position: absolute; */
    background: var(--mtyellow-4);
    left: 0;
    top: 0;
    transition-duration: .5s;
    z-index: 2000;
  }

  .dropdown-mobile div {
    display: block;
  }

  .dropdown-mobile svg {
    display: block;
  }

  .dropdown-mobile p {
    display: block;
  }
  .dropdown-mobile a{
    text-decoration: none;
  }

  .dropdown-mobile .top-chevronLeft {
    display: block;
    padding-left: 154px;
    padding-top: 73px;
    padding-bottom: 76px;
  }

  .dropdown-mobile .nav_navigations li {
    list-style: none;
  }

  .dropdown-mobile .link {
    display: block;
    margin-bottom: 28px;
    color: var(--mtgreen-1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;

    /* text-align: center; */
    letter-spacing: 0.1em;
  }

  .dropdown-mobile .member-list {
    padding-left: 2rem;
  }

  .dropdown-mobile .bottom-padding {
    padding-bottom: 18px;
  }

  .dropdown-mobile .dropdown-p {
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--mtgrey-2);
  }

  .dropdown-mobile .member-list div {
    color: var(--mtgrey-2);
    font-size: 18px;
  }

  .dropdown-mobile .logout {
    padding-top: 48px;
  }

}