nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: rgba(255, 255, 242, 0.9);
}
.navigations ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0px 120px;
  justify-content: space-between;
  height: 80px;
}
.link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--mtgreen-1);
  text-decoration: none;
  /* font-size: 18px; */
  font-weight: 300;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.1em;
}
.link:hover {
  color: var(--mtgreen-1);
  text-decoration: underline;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 36px;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  gap: 15px;

  width: 360px;
  height: 100%;

  background: rgba(206, 232, 203, 0.3);
  border-radius: 6px;
}
.search-input span {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.1em;

  color: var(--mtgrey-3);
  user-select: none;
}
