<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="./bootstrap-5.1.1-dist/css/bootstrap.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <img onclick="changePicture()" id="demo_img" class="w-100" style="height:400px;object-fit:container;"
          src="../imgs/product1.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div id="select_img1" class="col">
            <img onclick="changePicture()" src="./imgs/product1.jpg" alt="" class="w-100">
          </div>
          <div id="select_img2" class="col">
            <img onclick="changePicture()" src="./imgs/product2.jpg" alt="" class="w-100">
          </div>
          <div id="select_img3" class="col">
            <img onclick="changePicture()" src="./imgs/product3.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const demo_img = document.querySelector("#demo_img");
  const select_img1 = document.querySelector("#select_img1");
  const select_img2 = document.querySelector("#select_img2");
  const select_img3 = document.querySelector("#select_img3");
  // const all_img=document.querySelector(img);



  function getPicture(e) {
    console.log('img src:', event.currentTarget.getAttribute('src'));
    const imgSrc = event.currentTarget.getAttribute('src')
  }

  function changePicture(e) {
    console.log('img src:', event.currentTarget.getAttribute('src'));
    const imgSrc = event.currentTarget.getAttribute('src')
    demo_img.setAttribute('src', imgSrc)
  }


</script>

</html>