/* All section use*/
.allSectionCard_svg{
position:absolute ;
top: 140px;
left: 94%;
}
.allSection_btn{
border-radius: 5px;
padding: 8px 24px;
background-color: var(--mtgreen-1);
color: white;
border:none;
}
.allSection_btn > span{
letter-spacing: 0.1em;
font-size: 20px;
font-weight: 900;
line-height: 27px;
}

/* section1 */
.totalProduct_firstBg{
width: 100%;
height: 85vh;
background-image: url("./../img/1.jpg");
background-size: 100%;
background-position:30% 45%;        
background-repeat: no-repeat;
position: relative;
}
.totalProduct_firstBg > div > span {
color: white;
font-weight:900;
font-size: 48px;
line-height: 65px;
letter-spacing: 1.23em;
}
.totalProductfirstBg_spans{
position: absolute ;
top:21%;
left: 31.5%;
}
.totalProductfirstBg_text{
color: white;
position: absolute ;
top:10%;
left: 40%;
font-size: 37px;
font-weight:900;
line-height: 50px;
}
.tPFirstSectionSearch_first{
position: relative;
padding: 12px;
background-color: var(--mtyellow-4);
border-right:4px solid var(--mtgrey-4);
order: 0;
}
.tPFirstSectionSearch_first > div > svg{
position: absolute;
left: 20px;
}
.tPFirstSectionSearch_second{
position: relative;
padding: 12px;
background-color: var(--mtyellow-4);
border-right:4px solid var(--mtgrey-4);
order: 1;
}
.tPFirstSectionSearch_second > div > svg{
position: absolute;
left: 20px;
}
.tPFirstSectionSearch_secondSvg{
display: none;
}
.tPFirstSectionSearch_third{
position: relative;
padding: 12px;
background-color: var(--mtyellow-4);
order: 2;
}
.tPthirdSection_thirdSearch > input{
border:none;
background-color: var(--mtyellow-4);
} 
.tPthirdSection_thirdSearch > span {
color:var(--mtgreen-1) ;
font-weight: 500;
font-size: 22px;
line-height: 32px;
letter-spacing: 0.05em;
}
.tPFirstSectionSearch_third > div > svg{
position: absolute;
left: 20px;
}
.totalProductfirstBg_searchAll > .tPFirstSeactionSearch_btn{
background-color: var(--mtgreen-2);
order: 3;
}
.totalProductfirstBg_searchAll > div > div > p{
font-weight: 350;
font-size: 20px;
line-height: 29px;
letter-spacing: 0.05em;
}
.tPFirstSeactionSearch_btn > h4{
color: white;
margin-bottom: 0;
font-weight: 400;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.05em;
}
.tPFirstSectionSearch_input{
color: black;
height: 36px;
border:none;
background-color:var(--mtyellow-4);
font-weight: 500;
font-size: 22px;
line-height: 32px;
letter-spacing: 0.05em;
}
.tPthirdSection_thirdSearch{
color: black;
height: 36px;
border:none;
background-color:var(--mtyellow-4);
font-weight: 500;
font-size: 22px;
line-height: 32px;
letter-spacing: 0.05em;
}
.totalProductfirstBg_searchAll{
/* border: 3px solid red; */
border-radius: 10px;
overflow: hidden;
position: absolute;
top:79%;
left:22%;
}
.totalProductfirstBg_searchAll > div > i {
width: 24px;
height: 24px;
}



/* section2 */
.totalProduct_secondSection{
height: 120vh;
padding: 0px 120px;
padding-top: 120px;
background-color: rgba(255, 255, 242, 0.9);
}
.tPSecondSectionH5_text{
font-weight: 900;
margin: 0;
color: var(--mtgreen-1);
font-weight: 700;
line-height: 26px;
letter-spacing: 0.1em;
}
.totalProductSecondSection_WebSvg{
/* display: none; */
display: block;
}
.totalProductSecondSection_RWDSvg{
display: none;
/* display: block; */
}
div.tPSSCard_num{
position: absolute;
top: -15px;
left: 89%;

}
div.tPSSCard_numsvg{
padding: 0px;
}
.tPSSCard_pic1{
    height: 250px;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/101-1.jpg") no-repeat;
    background-size: cover;
    position: relative;
    flex-grow: 1;
    border-radius: 10px;
}
.tPSSCard_pic2{
height: 250px;
background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/101-2.jpg") no-repeat;
background-size: cover;
position: relative;
flex-grow: 1;
border-radius: 10px;

}
.tPSSCard_pic3{
height: 250px;
background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/101-3.jpg") no-repeat;
background-size: cover;
position: relative;
flex-grow: 1;
border-radius: 10px;

}
.tPSSCard_pic4{
height: 250px;
background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/102-1.jpg") no-repeat;
background-size: cover;
position: relative;
flex-grow: 1;
border-radius: 10px;

}
.tPSSCard_pic5{
height: 250px;
background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/102-2.jpg") no-repeat;
background-size: cover;
position: relative;
flex-grow: 1;
border-radius: 10px;

}
.tPSSCard_pic6{
height: 250px;
background:linear-gradient(180deg, rgba(0, 0, 0, 0) 71.43%, rgba(0, 0, 0, 0.74) 96.19%),url("./../img/102-3.jpg") no-repeat;
background-size: cover;
position: relative;
flex-grow: 1;
border-radius: 10px;

}

div.tPSSCard_numsvg > h3{
color:white;
position: absolute;
top:13px;
left: 19px;
font-weight: 700;
}
.tPSSCard_body{
padding: 10px 0px;
}
.tPSSCard_body p{
margin: 0;
}
.tPSSCard_bottom{
width: 100%;
padding: 0px 15px;
position: absolute;
top: 85%;
}
.tPSSCard_bottom p{
color: white;
margin: 0;
}

/* section3 */
.totalProduct_thirdSection{
  background-color: var(--mtyellow-4);
  height: 80vh;
}
.thirdBg{
height: 650px;
background: linear-gradient(180deg, rgba(1, 19, 6, 0) 55.54%, #011306 90.54%),url("./../img/2.jpg");
background-position: 50% 80%;background-size: cover;
position: relative;
}
.thirdBg_text{
width:26% ;
position: absolute;
top: 60%;
left: 37%;

}
.thirdBg_text > h1{
color: white;
font-size: 45px;
font-weight: 900
}
.thirdBg_text > p{
color: white;
letter-spacing: 0.1em;
line-height: 26px;
}
.thirdSCardsAll{
position: relative;
}
.thirdSectionCards{
width: 100%;
padding:0px 120px;
position: absolute;
top: -50px;
}
.tPthirdSectionCard_bottom{
  width: 100%;
position: absolute;
top: 215px;
padding: 0px 15px;
}
.tPthirdSectionCard_bottom p{
  color: white;
  margin: 0;
}


/* section4 */
.totalProduct_forthSection{
  padding-top: 20%;
  background-color: var(--mtyellow-4);
}
.forthBg{
  height: 650px;
  background: linear-gradient(180deg, rgba(1, 19, 6, 0) 55.54%, #011306 90.54%),url("./../img/3.jpg");
  background-position: 50% 80%;background-size: cover;
  position: relative;
  }
  .forthBg_text{
  width:26% ;
  position: absolute;
  top: 60%;
  left: 37%;
  
  }
  .forthBg_text > h1{
  color: white;
  font-size: 45px;
  font-weight: 900
  }
  .forthBg_text > p{
  color: white;
  letter-spacing: 0.1em;
  line-height: 26px;
  }
  .forthSCardsAll{
  position: relative;
  }
  .forthSectionCards{
  width: 100%;
  padding:0px 120px;
  position: absolute;
  top: -50px;
  }



/* section5 */
.totalProduct_fivthSection{
  padding-top: 20%;
  background-color: var(--mtyellow-4);
}
.fivthBg{
  height: 650px;
  background: linear-gradient(180deg, rgba(1, 19, 6, 0) 55.54%, #011306 90.54%),url("./../img/4.jpg");
  background-position: 50% 80%;background-size: cover;
  position: relative;
  }
  .fivthBg_text{
  width:26% ;
  position: absolute;
  top: 60%;
  left: 37%;
  
  }
  .fivthBg_text > h1{
  color: white;
  font-size: 45px;
  font-weight: 900
  }
  .fivthBg_text > p{
  color: white;
  letter-spacing: 0.1em;
  line-height: 26px;
  }
  .fivthSCardsAll{
  position: relative;
  }
  .fivthSectionCards{
  width: 100%;
  padding:0px 120px;
  position: absolute;
  top: -50px;
  }


/* section6 */
.totalProduct_sixthSection{
width: 100%;
height: 130vh;
padding: 0px 120px;
display: flex;
padding-top: 20%;
background-color: var(--mtyellow-4);
}
.sixthSection_left >.sixthSection > div > div > h3{
font-weight: 700;
font-size: 30px;
line-height: 41px;
letter-spacing: 0.05em;
}
.sixthSection_left >.sixthSection > div > p{
font-size: 18px;
font-weight: 400;
letter-spacing: 0.1em;
line-height: 26px;
}
.sixthSection > div > p > span{
font-size: 18px;
font-weight: 400;
letter-spacing: 0.1em;
line-height: 26px;
  color: var(--mtgreen-1);
}
.sixthSection{
width: 545px;
display: flex;
margin-bottom: 70px;
}
.sixthSEasy_pic{
width: 180px;
height: 180px;
background-color: var(--mtgreen-3);
border-radius: 50%;
}
.sixthSMedium_pic{
width: 140px;
height: 140px;
background-color: var(--mtgreen-3);
margin: 0px 20px;
}
.sixthSHard_pic{
width: 180px;
height: 180px;
background-color: var(--mtgreen-3);
}
.sixthSRight_cards{
position: relative;
}
.sixthSectionCard_svg{
position: absolute;
top: 130px;
left: 1120px;
}

/* section7 */

.totalProduct_seventhSection{
width: 100%;
height: 95vh;
background-color: var(--mtyellow-4);
}
.totalProduct_seventhSBg{
position: relative;
 width: 100%;
height: 80vh;
background: url("./../img/bgimgs.jpg") no-repeat;
}

.tPSeventhSection_card{
position: absolute;
top: 28%;
left: 31%;
width: 40%;
background-color: var(--mtyellow-4);
padding: 45px 40px;
}
.tPSeventhSectionCard_text{
margin-bottom:30px;
font-weight: 350;
font-size: 18px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
}
.tPSeventhSection_card > h1{
margin-bottom:10px;
font-weight: 900;
font-size: 36px;
line-height: 52px;
text-align: center;
letter-spacing: 0.1em;
}
.tPSeventhSection_card .btn{
padding: 8px 24px;
background-color: var(--mtgreen-2) ;
}






@media screen and (max-width:390px) {

  .allSection_btn{
    border-radius: 5px;
    padding: 4px 12px;
    background-color: var(--mtgreen-1);
    color: white;
    border:none;
    }
    .allSection_btn > span{
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 700;
    }
    .allSectionCard_svg{
      display: none;
    }


/* section1 */
.totalProduct_firstBg{
width: 100%;
background-position:-50px 0px;
background-size: cover;
letter-spacing: 0.05em;
overflow: hidden;
}
.totalProductfirstBg_text{
color: white;
position: absolute ;
top:10%;
left: 15%;
font-weight:900;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
}
.totalProductfirstBg_spans{
position: absolute ;
top:21%;
left: 6%;
}
.totalProduct_firstBg > div > span {
color: white;
font-weight:900;
font-size: 36px;
line-height: 49px;
letter-spacing: 0.5em;
}
.tPFirstSectionSearch_input{
  color: black;
  height: 36px;
  background-color:var(--mtgreen-4);
  border: 2px solid var(--mtgreen-2);
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  }

/* First Section Search */
.totalProductfirstBg_searchAll{
background-color: var(--mtyellow-4);
border-radius: 0;
width: 100%;
position: absolute;
top:55%;
left:0%;
display: flex;
flex-wrap: wrap;
padding: 16px 16px 39px 16px;
}
.totalProductfirstBg_searchAll > div > div > p{
  font-weight: 350;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin: 0;
  }
.tPFirstSectionSearch_first{
padding: 0;
width: 57%;
height: 10%;
background-color: var(--mtyellow-4);
order: 0;
border: none;
}
.tPFirstSectionSearch_first > div > svg{
position: absolute;
top: 28px;
left: 10px;
}
.tPFirstSectionSearch_second{
padding: 0;
background-color: var(--mtyellow-4);
border:none;
order: 2;
position: relative;
}
.tPFirstSectionSearchSecond_dashSvg{
  display: none;
  }
.tPFirstSectionSearch_second > div > svg{
position: absolute;
top: 28px;
left: 10px;
}
.tPFirstSectionSearch_secondSvg{
display: block;
position: absolute;
top: 28px;
left: 195px;
}
.tPFirstSectionSearch_third{
padding: 0;
width: 40%;
background-color: var(--mtyellow-4);
order: 1;
}
.tPFirstSectionSearch_third > div > svg{
position: absolute;
top: 29px;
left: 15px;
}
.tPFirstSeactionSearch_btn > h4{
color: white;
margin-bottom: 0;
font-weight: 700;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1em;
}
.tPthirdSection_thirdSearch{
color: black;
height: 36px;
background-color:var(--mtgreen-4);
border: 2px solid var(--mtgreen-2);
border-radius: 8px;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;
padding-left: 50px;
}
.tPthirdSection_thirdSearch > input{
height: 75%;
background-color: var(--mtgreen-4);
border:none ;
}
.tPthirdSection_thirdSearch > span{
color: var(--mtgreen-1);
}
.totalProductfirstBg_searchAll > .tPFirstSeactionSearch_btn{
width: 140px;
background-color: var(--mtgreen-2);
order: 3;
}


/* section2 */
.totalProductSecondSection_WebSvg{
display: none;
}
.totalProductSecondSection_RWDSvg{
display: block;
}
.totalProduct_secondSection{
padding: 0px;
height:260vh ;
background-color: var(--mtyellow-4);

}
div.tPSSCard_numsvg{
padding: 0px;
}
div.tPSSCard_num{
position: absolute;
top:-15px;
left: 85%;

}
div.tPSSCard_numsvg > h3{
  color:white;
  position: absolute;
  top:17px;
  left: 21px;
  font-weight: 700;
}


/* section3 */
.totalProduct_thirdSection{
background-color: var(--mtyellow-4);
width: 100%;
height: 95vh;
}
.thirdBg{
width:100%;
height: 60vh;
overflow: hidden;
background-position: -250px 0px;
background-size: cover;
position: relative;
}
.thirdBg_text{
width: 100%;
padding: 45px;
position: absolute;
top: 50%;
left: 0%;
}
.thirdBg_text > h1{
font-weight: 900;
font-size: 28px;
line-height: 140%;
letter-spacing: 0.05em;
}

.thirdBg_text > p{
font-weight: 350;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.1em;
}
.thirdSCardsAll{
position: relative;
}
.thirdSectionCards{
  padding: 0px;
  position: absolute;
  top: 0px;
}
.thirdSectionCards{
position: absolute;
top: -40px;
}
.tPSSCard_pic1{
  height: 198px;
}
.tPthirdSectionCard_bottom{
  position: absolute;
  top: 170px;
  padding: 0px 15px;
}
.thirdSectionBtn_svg{
display: none;
}
.tPSSection_card2, .tPSSection_card3{
display: none;
}

/* section4 */
.totalProduct_forthSection{
  padding-top: 0px;
  background-color: var(--mtyellow-4);
  width: 100%;
  height: 95vh;
}
  .forthBg{
  width:100%;
  height: 60vh;
  overflow: hidden;
  background-position: -250px 0px;
  background-size: cover;
  position: relative;
  }
  .forthBg_text{
  width: 100%;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 0%;
  }
  .forthBg_text > h1{
  font-weight: 900;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.05em;
  }
  
  .forthBg_text > p{
  font-weight: 350;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  }
  .forthSCardsAll{
  position: relative;
  }
  .forthSectionCards{
    padding: 0px;
    position: absolute;
    top: 0px;
  }
  .forthSectionCards{
  position: absolute;
  top: -40px;
  }


/* section5 */
.totalProduct_fivthSection{
  padding-top: 0px;
  background-color: var(--mtyellow-4);
  width: 100%;
  height: 95vh;
}
  .fivthBg{
  width:100%;
  height: 60vh;
  overflow: hidden;
  background-position: -250px 0px;
  background-size: cover;
  position: relative;
  }
  .fivthBg_text{
  width: 100%;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 0%;
  }
  .fivthBg_text > h1{
  font-weight: 900;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.05em;
  }
  
  .fivthBg_text > p{
  font-weight: 350;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  }
  .fivthSCardsAll{
  position: relative;
  }
  .fivthSectionCards{
    padding: 0px;
    position: absolute;
    top: -40px;
  }

/* section6 */
.totalProduct_sixthSection{
  height: 85vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--mtyellow-4);
}
.sixthSection_left{
width: 100%;
display: flex;
padding: 15px;
}
.sixthSEasy_pic{
  width: 50px;
  height: 50px;
}
.sixthSMedium_pic{
    width: 40px;
    height: 40px;
    margin: 5px 0px;
}
.sixthSHard_pic{
  width: 50px;
  height: 50px;
}
.sixthSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:113px;
  display: flex;
  margin-bottom: 0px;
}
.sixthSection_left >.sixthSection > div > div > h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
}
.sixthSection_left >.sixthSection > div > p{
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1em;
}
.sixthSection > div > p > span{
color: var(--mtgreen-1);
text-decoration: underline;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1em;
}
.sixthSection_right > div > svg{
  width: 100%;
  height: 150px;
}
.sixthSectionCard_svg > svg{
  display: none;
}


/* section7 */
.totalProduct_seventhSection{
  height: 50vh;
}
.totalProduct_seventhSBg{
  position: relative;
  width: 100%;
  background: url("./../img/Group35.jpg") no-repeat;
  margin-top:0px;
  background-color: var(--mtyellow-4);
  } 
.tPSeventhSection_card{
  position: absolute;
  top: 7%;
  left: 10%;
  width: 80%;
  background-color: var(--mtyellow-4);
  padding: 30px 30px;
}
.tPSeventhSectionCard_text{
  margin-bottom:30px;
font-weight: 350;
font-size: 12px;
line-height: 17px;
text-align: center;
letter-spacing: 0.1em;
  }
.tPSeventhSection_card > h1{
margin-bottom:10px;
font-weight: 900;
font-size: 20px;
line-height: 29px;
text-align: center;
letter-spacing: 0.1em;
  }

}