html body {
  background-color: var(--mtyellow-4);
  width: 100%;
}
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}
/* top bar ------------------- */
#season_top_bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: calc(var(--navbar-height) + 650px);
  background: linear-gradient(180deg, rgba(1, 19, 6, 0) 69.31%, #011306 100%),
    url(./../../images/season_top_bar.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}
#season_top_bar h1 {
  text-align: center;

  font-weight: 900;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: #ffffff;

  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#season_top_bar p {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #ffffff;

  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* top bar ------------------- */

/* products ------------------- */
section.products {
  width: 100%;
  padding: 40px 120px;
  height: 125vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}
.row-of-products {
  width: 100%;
  display: flex;
  /* gap: 20px; */
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;

  cursor: pointer;
}
.product img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.pic1 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-1.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic2 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-2.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic3 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-3.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic4 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-1.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic5 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-2.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic6 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-3.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic7 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-1.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic8 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-2.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pic9 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.43%,
      rgba(0, 0, 0, 0.74) 96.19%
    ),
  url(./../../html/img/101-3.jpg);
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.rates {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--mtgreen-4);
}
.rates p {
  padding: 0;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information h4,
.information p {
  margin: 0;
  padding: 0;
}
.info h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: var(--mtgrey-1);
}
.info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: var(--mtgrey-1);
}
.price {
  text-align: end;
}
.price p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: var(--mtgrey-1);
}
.price h4 {
  font-weight: 900;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.05em;

  color: var(--mtgreen-1);
}
button.load-more-btn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 90px;
  margin-top: 24px;

  background: var(--mtgreen-1);
  border-radius: 5px;
  border: none;

  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
/* products ------------------- */

/* carousel ------------------- */
section.comments {
  width: 100%;
  /* margin-top: 140px; */
  margin-bottom: 120px;
  padding: 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
section.comments h4 {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--mtgreen-1);
}
section.comments .comment-carousel {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
section.comments .comment-carousel button {
  border: 0px;
  background-color: transparent;
  position: absolute;

  top: 50%;
}
section.comments .comment-carousel button:first-child {
  transform: translate(-120%, -50%);
}
section.comments .comment-carousel button:last-child {
  left: 100%;
  transform: translate(20%, -50%);
}
section.comments .comment {
  height: 470px;
  padding: 20px;

  background: linear-gradient(180deg, rgba(1, 19, 6, 0) 66.99%, #011306 100%),
    url('./../../images/product-img/13.jpg');
  box-shadow: 0px 4px 20px 4px rgba(1, 19, 6, 0.12);
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
}
section.comments .comment h5 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.03em;

  color: var(--mtyellow-4);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
section.comments .comment h5 span:first-child {
  font-weight: 700;
  font-size: 16px;
}
section.comments .comment p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;

  color: var(--mtyellow-4);
  text-shadow: 0px 0px 4px #000000;
}
/* carousel ------------------- */
